@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,700&display=swap");

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Helvetica", "Arial";
  color: #111;
}

.container {
  padding: 60px 150px 60px 150px;
}

:root {
  --primary-color: #d71313;
}

/* Types */

.underline {
  text-decoration: underline;
}

/* h1: Hero h2: Tagline h3: Section headings h4: Other headings */

h1 {
  font-size: 1.7rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-weight: 700;
  font-size: 1.7rem;
}

h4 {
  font-weight: 500;
  font-size: 1.4rem;
}

/* Buttons */

.button {
  display: inline-block;
  background: var(--primary-color);
  text-decoration: none;
  color: #fff;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 5px;
  transition: 250ms ease-in-out;
}

.button-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.button-dark {
  background-color: #222;
  color: #fff !important;
}

.button-ghost {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.button-white {
  background-color: #fff;
  color: #333;
}

.button:hover {
  transform: translateY(-2px);
}

.button-shadow:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition {
  transition: 100ms ease-in-out;
}

/* Hero */
.hero {
  border-bottom: #eee solid 1px;
}

.hero .hero-nav {
  margin-bottom: 70px;
}

.hero .hero-nav ul {
  list-style: none;
  gap: 40px;
  flex-wrap: wrap;
}

.hero li .icon {
  width: 25px;
  margin-left: 7px;
}

.hero .hero-nav ul li a {
  text-decoration: none;
  color: #333;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 0.9rem;
  transition: 250ms ease-in-out;
}

.hero li .icon {
  width: 25px;
}

.hero .hero-content {
  margin-bottom: 30px;
  text-align: center;
}

.hero .hero-content h1 {
  font-size: 3rem;
}

.hero .hero-content p.subtitle {
  font-size: 1.5rem;
  color: #a82b2b;
}

.hero .hero-content p.text {
  font-size: 1.1rem;
  margin: 20px auto;
  max-width: 67%;
  word-wrap: break-word;
}

.hero .hero-content .buttons {
  gap: 6px;
  margin-top: 40px;
}

.hero .hero-content .hero-button {
  font-size: 1rem;
}

.hero .hero-content .resume-button {
  background-color: #19ceb6;
  color: #111;
}

.hero .hero-content .resume-button img {
  width: 25px;
  margin-left: 6px;
}

/* Projects */

.projects h3 {
  margin-bottom: 60px;
}

.project-list .project {
  margin-bottom: 70px;
}

.project-list .project .project-title {
  font-size: 1.5rem;
  margin-bottom: 25px;
  text-decoration: underline;
}

.project-list .project h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.project-list .project .project-description {
  margin: 40px 0;
  max-width: 700px;
  word-wrap: break-word;
  /* font-size: 1.1rem; */
  line-height: 1.9;
}

.project-list .project .project-description p {
  margin-bottom: 20px;
}

.project-list .project .project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.project-list .project .project-tech-stack .skill {
  color: #aaa;
}

.project-list .project .project-buttons a,
.project-list .project .project-buttons a:visited {
  color: rgb(11, 121, 255);
  text-decoration: none;
}

.project-list .project .project-buttons a:hover {
  text-decoration: underline;
}

/* Skills */

.skills {
  background: rgb(252, 252, 252);
}
.skills h3 {
  margin-bottom: 60px;
}

.skills .skill-list {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  gap: 20px;
}

.skills .skill-list .skill {
  background: rgb(233, 233, 233);
  padding: 5px 8px;
  border-radius: 3px;
}

/* About */

.about h3 {
  margin-bottom: 60px;
}

.about .paragraph {
  width: 50%;
  line-height: 1.7;
  margin-bottom: 10px;
}

.about .paragraph span {
  text-decoration: underline;
}

.about .social-icons {
  margin-top: 30px;
  margin-bottom: 40px;
}

.about .social-icons a {
  margin-right: 20px;
}

.about .social-icons a:visited {
  color: #333;
}

.about .resume-download {
  color: var(--primary-color);
}

/* JS Classes */

.hero-dark {
  color: #fff;
  background-color: #111;
  border-color: #222;
}

.hero-dark .hero-nav ul li a {
  color: #fff;
}

.hero-dark .hero-nav ul li#theme-toggle a {
  color: #222;
}

.projects-dark {
  color: #fff;
  background-color: #111;
}

.button-dark {
  border-color: #fff;
  color: #fff;
}

.skills-dark {
  background: #222;
  color: #fff;
}

.skill-dark {
  color: #fff;
  background: rgb(12, 12, 13) !important;
  background: linear-gradient(
    40deg,
    rgba(12, 12, 13, 1) 0%,
    rgba(24, 27, 28, 1) 57%
  ) !important;
}

.about-dark {
  color: #fff;
  background-color: #111;
}

.about .social-icons.social-icons-dark a {
  color: #fff;
}

/* Media Queries */
@media (max-width: 1365px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 705px) {
  .container {
    padding: 60px 25px 100px 25px;
  }
  /* Hero */
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero .hero-nav ul {
    gap: 20px;
  }
  /* Projects */
  .project-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  /* Skills */
  .skills .skill-list {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
  /* About */
  .about .paragraph {
    width: 100%;
    line-height: 1.7;
  }
}

@media (max-width: 450px) {
  .hero .hero-content h1 {
    font-size: 2rem;
  }

  .hero .hero-content p.text {
    max-width: 100%;
    font-size: 1rem;
  }

  .hero .hero-content .buttons {
    font-size: 1rem;
    flex-direction: column;
  }

  .hero .hero-content .buttons a {
    font-size: 1rem;
    width: 100%;
  }

  .hero .hero-content .resume-button img {
    width: 19px;
  }
}
